[user]
	email = pmorim@pm.me
	name = pmorim
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[alias]
	br = branch
	cm = commit
	co = checkout
	pf = push -f
	st = status
